<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.felink.project.dao.DisposeLogMapper">
  <resultMap id="BaseResultMap" type="com.felink.project.model.DisposeLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="method_name" jdbcType="VARCHAR" property="methodName" />
    <result column="thread" jdbcType="VARCHAR" property="thread" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
</mapper>